.about-container {
    display: grid;
    grid-template-columns: 25% 50%;
    gap: 8%;
}

.about-image {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(
        45deg,
        transparent,
        var(--color-primary),
        transparent
    );
    display: grid;
    place-items: center;
    padding-top: 20px;
    margin-top: 50px;

    border: brown 3px;
}

.about-image img {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(8deg);
    transition: var(--transition);
}

.about-image img:hover {
    transform: rotate(0);
}

/* tabs */

.tab-list {
    border-bottom: 1px solid #ccc;
    padding-left: 0;
  }
  
  .tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
  }
  
  .tab-list-active {
    background-color: white;
    border: solid #ccc;
    border-width: 1px 1px 0 1px;
  }


  

.about-tabs {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 30px;
}

.tab-pills {
  width: 450px;
}

.tab-item {
  width: 33%;
}
.tab-pills .tab-link {
  font-weight: bold;
  padding-top: 13px;
  text-align: center;
  background: #343436;
  color: #fff;
  border-radius: 30px;
  height: 100px;
}
.tab-pills .tab-link.active {
  background: #fff;
  color: #000;
}
.tab-content {
  position: absolute;
  width: 450px;
  height: auto;
  margin-top: -50px;
  background: #fff;
  color: #000;
  border-radius: 30px;
  z-index: 1;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
  padding: 30px;
  margin-bottom: 50px;
}
