.about-container {
    display: grid;
    grid-template-columns: 25% 50%;
    gap: 8%;
}

.about-image {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(
        45deg,
        transparent,
        var(--color-primary),
        transparent
    );
    display: grid;
    place-items: center;
    padding-top: 20px;
    margin-top: 50px;

    border: brown 3px;
}

.about-image img {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(8deg);
    transition: var(--transition);
}

.about-image img:hover {
    transform: rotate(0);
}