header {
    height: 100vh;
    width: 100%;
    padding-top: 50px;
    overflow: hidden;
}

.header-container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* cta buttons */
.cta {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

/* socials icons */
.header-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background: transparent;
    padding: 15px 5px 0 5px;
    margin: 5px;
    margin-left: -20px;
    float: left;
    bottom: 0;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 30px;
}

.header-socials::after {
    content: "";
    width: 1px;
    height: 80px;
    background: var(--color-primary);
}

/* headshot */
.headshot img {
    width: 300px;
    border-radius: 50%;
    margin-top: 60px;
    position: absolute;
    left: calc(50% - 150px);
}

/* down arrow */
.scroll-down {
    position: absolute;
    right: -20px;
    bottom: 0;
    font-weight: 200;
    font-size: 30px;
}

/* media query */
@media screen and (max-width: 1024px) {
    header {
        height: 100vh;
    }
}

@media screen and (max-width: 600px) {
    header {
        height: 110vh;
    }

    .header-socials, .scroll-down {
        display: none;
    }
}