#header {
    height: 100vh;
    padding-top: 75px;
    /* overflow: hidden; */
    /* this hidden is causing issues */
}

.header-container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* cta buttons */
.cta {
    margin-top: 15px;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

/* socials icons */
.header-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 30px;
}

.header-socials::after {
    content: "";
    width: 1px;
    height: 80px;
    background: var(--color-primary);
}

/* headshot */
.headshot {
    height: auto;
    width: auto;
    max-width: 250px;
    padding-top: 6%;
    margin: auto;
    bottom: 50px;
}

.headshot img {
    border-radius: 50%;
}

/* down arrow */
.scroll-down {
    position: absolute;
    right: 0;
    bottom: 30px;
    font-weight: 300;
}

/* media queries */
@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
}

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header-socials, .scroll-down {
        display: none;
    }
}