nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background: rgba(0, 0, 0, 0.2);
    width: max-content;
    z-index: 2;
    position: fixed;

    top: 40px;
    right: 10%;
    border-radius: 3rem;
    backdrop-filter: blur(10px);
    padding: 3px;
}

nav a {
    background: transparent;
    padding: 10px;
    margin: 4px;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 15px;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.15);
}

/* media queries */
@media screen and (max-width: 1024px) {
    nav {
        right: 5%;
    }
}

@media screen and (max-width: 600px) {
    nav {
        display: none;
    }
}