nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background: rgba(0, 0, 0, 0.2);
    width: max-content;
    z-index: 2;
    position: fixed;

    top: 40px;
    right: 30px;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a {
    background: transparent;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 20px;
}